<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="shortcut icon" href="/svgs/favicon.svg#favicon" sizes="any" type="image/svg+xml">
    <title>My Recipes App</title>
</head>
<body>
    <!-- Navbar --> 
    <nav class="navbar fixed-top navbar-expand-lg bg-custom navbar-dark py-2">
        <div class="container">
            <a href="/" class="navbar-brand">&lt; Shubham Kumar Shukla /&gt;</a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu"><span class="navbar-toggler-icon"></span></button>

            <div class="collapse navbar-collapse" id="navmenu">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a href="/#header" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="/#my_details" class="nav-link">About</a>
                    </li>
                    <li class="nav-item">
                        <a href="/#my_projects" class="nav-link">Projects</a>
                    </li>
                    <li class="nav-item">
                        <a href="/#contact_details" class="nav-link">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Hero -->
    <section class="projheader p-5 text-center text-sm-start" id="projHeader">
        <div id="hero">
            <div class="container">
                <div class="d-sm-flex align-items-center justify-content-between">
                    <div class="hero_text">
                        <h1>My Recipes App</h1>
                        <h2 class="my-4">Find and share everyday <span class="text-yellow">cooking inspiration</span></h2>
                        <a href="https://github.com/shubhamshukla7794/spring5-recipes-app" class="btn btn-primary btn-lg btn-git" target="_blank"><svg class="icons"><use xlink:href="/svgs/Github.svg#github" /></svg> View on Github</a>
                        <a href="https://github.com/shubhamshukla7794/spring5-recipes-app/archive/main.zip" class="btn btn-primary btn-lg btn-zip"><svg class="icons"><use xlink:href="/svgs/Folder.svg#folder" /></svg> Download Zip</a>
                    </div>
                    <img class="img-fluid d-block pt-3" src="/svgs/project_hero_2.svg" alt="Hero_Image" id="hero_img">
                </div>
            </div>
        </div>
    </section>

    <!-- Project Details -->
    <section class="project_details">
        <div class="container">
            <h2>My Recipe Application</h2>
            <div class="project_content">
                <p>The project <strong>My Recipes App</strong> a spring sample application developed while 
                    undergoing an online course called 
                    <a href="https://www.udemy.com/spring-framework-5-beginner-to-guru" target="_blank" class="project-link">
                        Spring Framework 5: Beginner to Guru</a>.
                </p>
                <p>
                    In this application, the user can view all the recipes on the Main Page. Here, the user 
                    can also explore the recipes based on the categories available. In this application, you can add
                    a 'New Recipe' or you can update an existing recipe. One can also delete an existing recipe.
                    There is also a landing page for <strong>'404 Error'</strong> as well as a <strong>'Bad Request'</strong> error.
                </p>

                <h3 class="mt-5">Running Application Process on your computer</h3>
                <hr> 
                <p>My Recipes App is a <a href="https://spring.io/guides/gs/spring-boot" class="project-link" target="_blank">Spring Boot</a> application built using <a href="https://spring.io/guides/gs/maven/" class="project-link" target="_blank">Maven</a>.</p>
                <ul>
                    <li><p>Download the application from the above</p></li>
                    <li><p>Unzip the application</p></li>
                    <li><p>Open your terminal</p></li>
                    <li><p>Move to the root of the application</p></li>
                    <li><p>Run <code>mvn spring-boot:run</code></p></li>
                    <li><p>Navigate to 
                        <a href="http://localhost:8080" class="project-link" target="_blank">http://localhost:8080</a> in your default browser</p>
                    </li>
                </ul>

                <h3 class="mt-5">Working with Recipe App in your IDE</h3>
                <hr> 
                <h4>Prerequisites</h4>
                <p>The following items should be installed in your system:</p>
                <ul>
                    <li><p><a href="https://www.oracle.com/java/technologies/javase-jdk11-downloads.html" class="project-link" target="_blank">Java 11</a> or newer</p></li>
                    <li><p>Download and Install 
                        <a href="https://maven.apache.org/download.cgi" class="project-link" target="_blank">Maven</a></li>
                    <li><p>Your preferred IDE</p></li>
                </ul>

                <h3 class="mt-5">Database Configuration</h3>
                <hr> 
                <p>In its default configuration, Recipe App uses an in-memory database (H2) which gets populated at startup 
                    with data. The H2 console is automatically exposed at 
                    <code>http://localhost:8080/h2-console</code> 
                    and it is possible to inspect the content of the database using the <code>jdbc:h2:mem:testdb</code> url.
                 </p>
                <h3 class="mt-5">Project Screenshot</h3>
                <hr> 
                <div class="container img-container">
                    <div class="row">
                        <div class="col-lg-3 img-outer first" onclick="showImage(this);">
                            <img src="/images/recipe/Home_Screen_showing_all_recipes.png" class="big" alt="">
                            <div class="title">Home Screen showing all recipes</div>
                        </div>
                        <div class="col-lg-3 img-outer" onclick="showImage(this);">
                            <img src="/images/recipe/Showing_Category_based_recipe_list.png" class="big" alt="">
                            <div class="title">Showing Category based recipe list</div>
                        </div>
                        <div class="col-lg-3 img-outer" onclick="showImage(this);">
                            <img src="/images/recipe/View_of_the_recipe_page.png" class="big" alt="">
                            <div class="title">View of the recipe page</div>
                        </div>
                        <div class="col-lg-3 img-outer" onclick="showImage(this);">
                            <img src="/images/recipe/Viewing_the_ingredients_of_the_recipe.png" alt="">
                            <div class="title">Viewing the ingredients of the recipe</div>
                        </div>
                        <div class="col-lg-3 img-outer" onclick="showImage(this);">
                            <img src="/images/recipe/Updating_the_recipe.png" class="big" alt="">
                            <div class="title">Updating the recipe</div>
                        </div>
                        <div class="col-lg-3 img-outer" onclick="showImage(this);">
                            <img src="/images/recipe/New_recipe_form.png" class="big" alt="">
                            <div class="title">New recipe form</div>
                        </div>
                        <div class="col-lg-3 img-outer" onclick="showImage(this);">
                            <img src="/images/recipe/New_recipe_form_with_details_filled.png" class="big" alt="">
                            <div class="title">New recipe form with details filled</div>
                        </div>
                        <div class="col-lg-3 img-outer" onclick="showImage(this);">
                            <img src="/images/recipe/New_recipe_form_to_upload_image_and_add_ingredients.png" class="big" alt="">
                            <div class="title">New recipe form to upload image and add ingredients</div>
                        </div>
                        <div class="col-lg-3 img-outer" onclick="showImage(this);">
                            <img src="/images/recipe/Add_new_Ingredient_to_the_recipe.png" alt="">
                            <div class="title">Add new Ingredient to the recipe</div>
                        </div>
                        <div class="col-lg-3 img-outer" onclick="showImage(this);">
                            <img src="/images/recipe/Update_an_existing_Ingredient_of_the_recipe.png" alt="">
                            <div class="title">Update an existing Ingredient of the recipe</div>
                        </div>
                        <div class="col-lg-3 img-outer" onclick="showImage(this);">
                            <img src="/images/recipe/404_Error.png" alt="">
                            <div class="title">404 Error</div>
                        </div>
                        <div class="col-lg-3 img-outer last" onclick="showImage(this);">
                            <img src="/images/recipe/400_Error.png" alt="">
                            <div class="title">400 Error</div>
                        </div>
                    </div>
            
                    <div class="lightbox">
                        <div class="image">
                            <img src="/images/URLValidator/URLValidator_Home.jpg" alt="">
                            <div class="title"> </div>
                
                            <div class="previous-btn">
                                <svg class="icons"><use xlink:href="/svgs/Left.svg#left" /></svg>
                            </div>
                            <div class="next-btn">
                                <svg class="icons"><use xlink:href="/svgs/Right.svg#right" /></svg>
                            </div>
                            <div class="options">
                                <div class="close-btn">
                                    <svg class="icons"><use xlink:href="/svgs/Close.svg#close" /></svg>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>


    <button onclick="topFunction()" id="myBtn" title="Go to top"><svg class="top"><use xlink:href="/svgs/Up.svg#up" /></svg></button>

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg">
                    <a href="/" class="logo">&lt; Shubham Kumar Shukla /&gt;</a>
                </div>
                <div class="col-lg">
                    <p>&#169; 2021 All Rights Reserved.</p>
                </div>
            </div>
        </div>
    </footer>

    <script src="/javascript/lightBoxAlt.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>

</body>
</html>