<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="Description" content="Enter your description here"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.css" 
      integrity="sha512-nNlU0WK2QfKsuEmdcTwkeh+lhGs6uyOxuUs+n+0oXSYDok5qy0EI0lt01ZynHq6+p/tbgpZ7P+yUb+r71wqdXg==" crossorigin="anonymous" />
<link rel="stylesheet" href="/css/style.css">
<title>URL Validator</title>
<link rel="shortcut icon" type="image/x-icon" href="/images/favicon-sks.png">
</head>
<body>
    <button onclick="topFunction()" id="myBtn" title="Go to top"><i class="fas fa-angle-up"></i></button>
    <nav class="navbar fixed-top navbar-expand-md navbar-dark" style="background-color: #032d4b;">
        <a href="/" class="navbar-brand">Shubham Kumar Shukla</a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav">
                <a href="/" class="nav-item nav-link active"><i class="fas fa-home"></i> Home</a>
                <a href="/#about_me" class="nav-item nav-link">About</a>
                <a href="/#projects" class="nav-item nav-link">Projects</a>
                <a href="/#contact" class="nav-item nav-link">Contact</a>
            </div>
        </div>
    </nav>

    <div class="main-container">
        <div class="back-image">
            <div class="my-container">
                <h1><span>URL Validator</span></h1>                
            </div>
        </div>
        <div class="div-left">
            <a href="https://github.com/shubhamshukla7794/URLValidator" 
                class="btn btn-primary"  target="_blank">
                 View on Github <i class="fab fa-github fa-2x"></i></a>
        </div>
        <div class="div-right">
            <a href="https://github.com/shubhamshukla7794/URLValidator/archive/refs/heads/main.zip" class="btn btn-primary">
                <i class="fas fa-download fa-2x"></i> Download Zip
            </a>
        </div>
        <span class="clear"></span>
        <div class="readme">       
            <div class="container-fluid">
                <div class="project-content">
                    <h1>URL Validator</h1>
                    <hr>
                    <p>The project URL Validator is a Spring Boot which checks whether a URL exists or not.</p>
                    <ul>
                        <li><p>If the URL exists then it shows this URL has been searched n number of times along with a hyperlink</p></li>
                        <li><p>If a URL doesn't exist then it checks for its parent URL. For example, if <a href="#" class="disabled">github.com/shubhamshukla7794/pull-requests</a>
                               doesn't exist or is down then it checks for <a href="#" class="disabled">github.com/shubhamshukla7794/</a>. 
                               If none exists then it shows the error message with number of searches or 
                               if this is the first search for this URL then it shows the message "You may have mistyped the URL"</p></li>
                    </ul>
                    
                    <br>

                    <h3>Running Application Process on your computer</h3>
                    <hr>
                    <p>URL Validator is a <a href="https://spring.io/guides/gs/spring-boot" target="_blank">Spring Boot</a> 
                        application built using <a href="https://spring.io/guides/gs/maven/"  target="_blank">Maven</a>.</p>
                    <ul>
                        <li><p>Download the application from the above</p></li>
                        <li><p>Unzip the application</p></li>
                        <li><p>Open your terminal</p></li>
                        <li><p>Move to the root of the application</p></li>
                        <li><p>Run <code>mvn spring-boot:run</code></p></li>
                        <li><p>Navigate to 
                            <a href="http://localhost:8080" target="_blank">http://localhost:8080</a> in your default browser</p>
                        </li>
                    </ul>

                    <br>

                    <h3>Working with URL Validator in your IDE</h3>
                    <hr>
                    <h4>Prerequisites</h4>
                    <p>The following items should be installed in your system:</p>
                    <ul>
                        <li><p><a href="https://www.oracle.com/java/technologies/javase-jdk11-downloads.html"
                            target="_blank">Java 11</a> or newer</p></li>
                        <li><p>Download and Install 
                            <a href="https://maven.apache.org/download.cgi"
                               target="_blank">Maven</a></li>
                        <li><p>Your preferred IDE</p></li>
                    </ul>
                    <br>
                    <h3>Database Configuration</h3>
                    <hr>
                    <p>In its default configuration, Recipe App uses an in-memory database (H2) which gets populated at startup 
                       with data. The H2 console is automatically exposed at 
                       <code>http://localhost:8080/h2-console</code> 
                       and it is possible to inspect the content of the database using the <code>jdbc:h2:mem:testdb</code> url.
                    </p>
                    <br>
                    <h3>Application</h3>
                    <hr>
                    <div class="grid2">
                        <div>
                            <a href="https://user-images.githubusercontent.com/37581959/133543312-21d7b882-63b1-43aa-a258-bd595279b58d.jpg" class="fancybox" data-fancybox="gallery1" title="Home" data-caption="Home Screen" id="img1">
                                <img src="https://user-images.githubusercontent.com/37581959/133543312-21d7b882-63b1-43aa-a258-bd595279b58d.jpg" class="img-fluid">
                            </a>
                            <p>Home Screen</p>
                        </div>
                        <div>
                            <a href="https://user-images.githubusercontent.com/37581959/133543314-7dda86ac-1745-492e-86f2-e83fd6c379ca.jpg" class="fancybox" data-fancybox="gallery1" title="Category" data-caption="Showing recipes under a particular category">
                                <img src="https://user-images.githubusercontent.com/37581959/133543314-7dda86ac-1745-492e-86f2-e83fd6c379ca.jpg" class="img-fluid">
                            </a>
                            <p>The URL is up and running</p>
                        </div>
                        <div>
                            <a href="https://user-images.githubusercontent.com/37581959/133543318-ef0992ad-e3c9-4be0-b2d6-c0c85f5a5c34.jpg" class="fancybox" data-fancybox="gallery1" title="Recipe" data-caption="View of the recipe page">
                                <img src="https://user-images.githubusercontent.com/37581959/133543318-ef0992ad-e3c9-4be0-b2d6-c0c85f5a5c34.jpg" class="img-fluid">
                            </a>
                            <p>Entering a non-existing URL</p>
                        </div>
                        <div>
                            <a href="https://user-images.githubusercontent.com/37581959/133543323-120c32d3-774f-4427-901e-fea9114ccbc4.jpg" class="fancybox" data-fancybox="gallery1" title="Ingredients" data-caption="Viewing the ingredients of the recipe">
                                <img src="https://user-images.githubusercontent.com/37581959/133543323-120c32d3-774f-4427-901e-fea9114ccbc4.jpg" class="img-fluid">
                            </a>
                            <p>The parent URL of the non-existing URL is up</p>
                        </div>
                        <div>
                            <a href="https://user-images.githubusercontent.com/37581959/133543320-0b95cf71-e9c7-4a91-a6c9-5e51863bf469.jpg" class="fancybox" data-fancybox="gallery1" title="Update" data-caption="Updating the recipe">
                                <img src="https://user-images.githubusercontent.com/37581959/133543320-0b95cf71-e9c7-4a91-a6c9-5e51863bf469.jpg" class="img-fluid">
                            </a>
                            <p>Entering another non-existing URL</p>
                        </div>
                        <div>
                            <a href="https://user-images.githubusercontent.com/37581959/133543321-f62a14fc-59a2-4c53-835f-c4c5a3be3ba4.jpg" class="fancybox" data-fancybox="gallery1" title="New Recipe" data-caption="New recipe form">
                                <img src="https://user-images.githubusercontent.com/37581959/133543321-f62a14fc-59a2-4c53-835f-c4c5a3be3ba4.jpg" class="img-fluid">
                            </a>
                            <p>Error message for the entered URL where even the parent URL is down or non-existing</p>
                        </div>
                        <div>
                            <a href="https://user-images.githubusercontent.com/37581959/133543327-2253df83-c052-4778-a95e-8da44e5c2595.jpg" class="fancybox" data-fancybox="gallery1" title="New Recipe Filled" data-caption="New recipe form with details filled">
                                <img src="https://user-images.githubusercontent.com/37581959/133543327-2253df83-c052-4778-a95e-8da44e5c2595.jpg" class="img-fluid">
                            </a>    
                            <p>Entering URL with only www however without https://</p>
                        </div>
                        <div>
                            <a href="https://user-images.githubusercontent.com/37581959/133543332-42a41b4f-720e-4871-a8a4-1444b6115e01.jpg" class="fancybox" data-fancybox="gallery1" title="New Recipe" data-caption="New recipe form to upload image and add ingredients">
                                <img src="https://user-images.githubusercontent.com/37581959/133543332-42a41b4f-720e-4871-a8a4-1444b6115e01.jpg" class="img-fluid">
                            </a>
                            <p>Entering URL with without https:// or www</p>
                        </div>
                        <div>
                            <a href="https://user-images.githubusercontent.com/37581959/133543330-23bfae75-e5f9-435c-b5ad-9878fc347881.jpg" class="fancybox" data-fancybox="gallery1" title="New Recipe" data-caption="New recipe form to upload image and add ingredients">
                                <img src="https://user-images.githubusercontent.com/37581959/133543330-23bfae75-e5f9-435c-b5ad-9878fc347881.jpg" class="img-fluid">
                            </a>
                            <p>Entering URL in PascalCase</p>
                        </div>
                        <div>
                            <a href="https://user-images.githubusercontent.com/37581959/133543310-285b84d3-c73b-4307-a93b-3ba23cf9c607.jpg" class="fancybox" data-fancybox="gallery1" title="New Recipe" data-caption="New recipe form to upload image and add ingredients">
                                <img src="https://user-images.githubusercontent.com/37581959/133543310-285b84d3-c73b-4307-a93b-3ba23cf9c607.jpg" class="img-fluid">
                            </a>
                            <p>500 Error</p>
                        </div>
                        <div>
                            <a href="https://user-images.githubusercontent.com/37581959/133543300-754843f5-bb81-464c-8db6-2ad94c3c2577.gif" class="fancybox" data-fancybox="gallery1" title="New Recipe" data-caption="New recipe form to upload image and add ingredients">
                                <img src="https://user-images.githubusercontent.com/37581959/133543300-754843f5-bb81-464c-8db6-2ad94c3c2577.gif" class="img-fluid">
                            </a>
                            <p>404 Error</p>
                        </div>
                        <div>
                            <a href="https://user-images.githubusercontent.com/37581959/133543294-ec541d9c-44be-4d61-b9cb-28f918daf6ab.gif" class="fancybox" data-fancybox="gallery1" title="New Recipe" data-caption="New recipe form to upload image and add ingredients">
                                <img src="https://user-images.githubusercontent.com/37581959/133543294-ec541d9c-44be-4d61-b9cb-28f918daf6ab.gif" class="img-fluid">
                            </a>
                            <p>400 Error</p>
                        </div>
                    </div>
                </div>
            </div>            
        </div>

        <footer class="mainFooter">
            <div class="footer-copyright">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3">
                            <a class="logo" href="/">
                                <strong>Shubham Kumar Shukla</strong>
                            </a>
                        </div>
                        <div class="col-md-9">
                            <p>© 2021 All Rights Reserved.</p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js" integrity="sha512-uURl+ZXMBrF4AwGaWmEetzrd+J5/8NRkWAvJx5sbPSSuOb0bZLqf+tOzniObO00BjHa/dD7gub9oCGMLPQHtQA==" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/javascript/myScript.js"></script>
</body>
</html>